![Titanc](https://user-images.githubusercontent.com/20658442/175980912-7dab1a6a-9570-4b8f-930e-d37bd1ed22fa.png)

# It's time to discover what happened with Titanc !!

#### **1.Check the data**

In [22]:
# check the data
import pandas as pd
df = pd.read_csv("Titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
# try looking into the info and statistics summary
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### **2.Check Null Values**

In [3]:
# check the null values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### **3.It's time to decide what to do with the null values**

**You should decide on your own what to do with the null values and after you finish you should explain your solution**

**Hint:** did you know that some people migh have just get it into the ship in an illegal way !!!!!

In [7]:
#Age (177 missing value )
median_age = df['Age'].median()
print(median_age)
df['Age'].fillna(df['Age'].median(),inplace=True) # Replace missing values with the median

28.0

In [14]:
#There is a significant portion of the data missing in the cabin column
df['Cabin'].fillna('unknown',inplace=True) # Replace missing values with 'Unknown'

In [16]:
# only 2 values are missing in Embarked
mode= df['Embarked'].mode()
print(mode)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True) ## Fill with the most frequent value
#check After Handling
df.isnull().sum()

0    S
Name: Embarked, dtype: object

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

**Your explainantion:**

#### **4.Time to do analysis**

## Here is some question to help you

- What percentage of passengers survived overall?
  - How many passengers from each class (Pclass) survived?
  - What is the survival rate by embarkation point (Embarked: C, Q, S)?

- Does the survival rate differ between men and women (Sex)?
  - For each class, do men or women have a higher survival rate?
  - How does survival rate differ between men and women across different age groups?

- How does the survival rate vary by class (Pclass)?
  - Within each class, how does survival rate differ between those traveling alone versus those with family (SibSp and Parch)?
  - Were first-class passengers more likely to have a cabin number, and does having a cabin correlate with survival?
  - Does class have a relation with age? and does it all effect the survival?

- Does age (Age) influence survival rate?
  - What is the survival rate for children, adults, and seniors?
  - How does the survival rate differ for male and female passengers across various age ranges?

In [24]:
#the percentage of passengers who survived
survival_rate = df['Survived'].mean() * 100
print(f"Survival Rate: {survival_rate:.2f}%")

# the number of survivors from each class
survival_by_class = df.groupby('Pclass')['Survived'].sum()
print(survival_by_class)

survival_by_embarked = df.groupby('Embarked')['Survived'].mean() * 100
print("Survival Rate by Embarkation Point:")
print(survival_by_embarked)

Survival Rate: 38.38%
Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64
Survival Rate by Embarkation Point:
Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

In [26]:
#survived by sex
survival_by_sex = df.groupby('Sex')['Survived'].mean() * 100
print(survival_by_sex)

#survival rate differ between men and women across different age groups
df['AgeGroup'] = pd.cut(df['Age'], bins=[0, 18, 60, 100], labels=['Child', 'Adult', 'Senior'])
survival_by_sex_age = df.groupby(['Sex', 'AgeGroup'])['Survived'].mean() * 100
print("Survival Rate by Sex and Age Group:")
print(survival_by_sex_age)

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64
Survival Rate by Sex and Age Group:
Sex     AgeGroup
female  Child        67.647059
        Adult        77.894737
        Senior      100.000000
male    Child        33.802817
        Adult        18.457300
        Senior       10.526316
Name: Survived, dtype: float64

<ipython-input-26-e0f259be295f>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_sex_age = df.groupby(['Sex', 'AgeGroup'])['Survived'].mean() * 100

In [28]:
#the survival rate vary by class (Pclass)
survival_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print("Survival Rate by Class:")
print(survival_by_class)

#survival rate differ between those traveling alone versus those with family
df['FamilySize'] = df['SibSp'] + df['Parch']
df['Alone'] = df['FamilySize'] == 0
survival_by_alone_class = df.groupby(['Pclass', 'Alone'])['Survived'].mean() * 100
print("Survival Rate by Class and Traveling Alone:")
print(survival_by_alone_class)

Survival Rate by Class:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
Survival Rate by Class and Traveling Alone:
Pclass  Alone
1       False    72.897196
        True     53.211009
2       False    63.750000
        True     34.615385
3       False    29.940120
        True     21.296296
Name: Survived, dtype: float64

In [29]:
#survival rate for children, adults, and seniors
survival_by_age_group = df.groupby('AgeGroup')['Survived'].mean() * 100
print("Survival Rate by Age Group:")
print(survival_by_age_group)

Survival Rate by Age Group:
AgeGroup
Child     50.359712
Adult     38.878843
Senior    22.727273
Name: Survived, dtype: float64

<ipython-input-29-6caf7a4fc8fc>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_age_group = df.groupby('AgeGroup')['Survived'].mean() * 100

In [30]:
#survival rate differ for male and female passengers across various age ranges
survival_by_sex_age = df.groupby(['Sex', 'AgeGroup'])['Survived'].mean() * 100
print("Survival Rate by Sex and Age Group:")
print(survival_by_sex_age)

Survival Rate by Sex and Age Group:
Sex     AgeGroup
female  Child        67.647059
        Adult        77.894737
        Senior      100.000000
male    Child        33.802817
        Adult        18.457300
        Senior       10.526316
Name: Survived, dtype: float64

<ipython-input-30-e90335c00e74>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_sex_age = df.groupby(['Sex', 'AgeGroup'])['Survived'].mean() * 100

### Your amazing conclusion:

**Note:** You will be given your degree based on how much amount of effort made in the analysis and maybe if you did more than well you will be given bouns !!